name: M3U Otomatik Güncelleme

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Python kur
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Yt-dlp yükle
      run: pip install yt-dlp

    - name: Script çalıştır
      run: python armine_script.py

    - name: Değişiklikleri push et
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "M3U güncellendi" || echo "Commit yok"
        git push
